a {
	text-decoration: none;
	color: #333333;
}

h1 {
	padding-left:23px;
}

label {
	cursor:pointer; cursor: hand
}

#content a:visited {
	text-decoration: none;
	color: #333333;
}

#content a:hover {
	text-decoration: underline;
}

li {
	line-height: 23px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

div#content{
	top:0px;
	position: relative;
	/*margin-top:203px;*/
	margin-top:0px;
	padding-bottom:50px;
	width:900px;
	height:400px;
	min-height:400px;
	margin-left:auto;
	margin-right:auto;
	font-size:10pt;
}

div#content p {
	padding-bottom:0px;
}

#message {
	color: #2323ff;
	font-weight:bold;
}

.selectedPathDiv {
	font-size : 10pt;
	padding-left:15px;
	background : #f5f5f5;
	border: 1px solid #b8c1c0;
}

.divContent {
	width: 450px;
	float:left;
	margin-top:0px;
}

.divContent a {
	text-decoration: none;
}

.divContent a:hover {
	text-decoration: underline;
}

#conversionFormDiv {
	clear:both;
	background:#fff;
	padding:10px;
	margin-bottom: 47px;
	/*border:1px solid #b8c1c0;*/
}

#conversionFormDiv p {
	text-align:center;	
}

#conversionForm {
	text-align:center;	
}

.errorBox {
	clear:both;
	margin-top:0px;
	border:1px solid #cd0a0a;
	background-color: #ffe3e3;
	color:#8f0808;
	padding-left:15px;
	visibility:hidden;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height:0px;
}

#errorMessage p {
	text-align:left;
	font-size:8pt;
}

.vertOptions {
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	padding:10px;
	background:#fff;
	margin-bottom:5px;

}

.paramsTitle {
	margin-top:0px;
	font-size:9pt;
}

.vertOptTitle {
	background:#eee;
	margin-top:0px;
	font-size:14px;
	padding-left:5px;
}

.validationResult {
	clear:both;
	background-color:#ffe3e3;
	border:1px solid #cd0a0a;
	color:#8f0808;
	margin-top:0px;
	visibility:hidden;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#moreOptions {
	text-align:center;
}

div#footer {
	clear:both;
	padding-top:50px;
}

#fileInput {
	margin-left:25px;
	width: 375px;
	float:left;
}

#imagesInput {
	width: 375px;
	float:right;
	margin-right:25px;
}

#send {
	clear: both;
	padding-top:47px;
}

#showMore {
		font-weight:600;
}

#sendFile {
	width:200px;
	height:30px;
	color: #3535ff;
	font-size:14pt;
	margin-right:25px;
}

#moreOptions{
	clear:both;
}

#reset {
	margin-left: 40px;
	margin-top: -3px;
	
}
.documentFamilyItem {
	margin-top: 35px;
}

.documentFamilyItem ul li {
	margin-left: 23px;
}

.documentFamilyItem img {
	height:48px;
	margin-right:15px;
	vertical-align:middle;
}

#content .documentFamilyItem a:hover {
	text-decoration:none;
	color: #2323ff;
}

#content .documentFamilyItem ul a:hover {
	text-decoration:underline;
	color: #333333;
}

#conversionsPathsList {
	margin-top:50px;
}

div#footer {
	padding-top:5px;
}

div#footer a:hover{
	text-decoration:underline;
}

a.helpLink {
	color: #2323ff;
	font-size:0.8em;
	vertical-align:top;
	padding-left: 3px;
	text-decoration:underline;
}

a.helpLink:visited {
	color: #2323ff;
}

#content a.helpLink:hover {
	text-decoration:none;
}

.helpText {
	font-size:12pt;
	line-height:18pt;
}

.helpText h2 {
	color: #2323ff;
}

.redText {
	color:#FF0000;
}
